<div *ngIf="imagepreview" class="image-content">
  <img [src]="imagepreview" alt="Preview">

  <form class="message-form">
    <div class="container-message">
      <div class="text-message">
        <input 
        type="text" 
        [(ngModel)]="messageInput" 
        (keyup.enter)="sendCallBack(messageInput)"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Your message"
        >
        <mat-icon class="icon-send" color="accent" (click)="sendCallBack(messageInput)">send</mat-icon>
      </div>
    </div>
  </form>
</div>
