<div *ngIf="!chatSelect" class="container-search">
  <app-profile-general [user]="currentUser"></app-profile-general>
  <a (click)="openSearchModal()"><mat-icon>search</mat-icon></a>
</div>

<div *ngIf="!chatSelect">
  <app-list-chats 
  (chatSelect)="getChatSelect($event)"
  [idUser]="currentUser._id"
></app-list-chats>
</div>

<div *ngIf="chatSelect" class="content-chat height-100">
  <div class="title-header">
    <mat-icon class="icon-return" color="accent" (click)="callbakcReturn()">keyboard_backspace</mat-icon>
    <h1 class="h1">{{userChat.name}}</h1>
    <app-profile-general [user]="userChat"></app-profile-general>
  </div>
  <app-internal-chat
  [chat]="chatSelect" 
  [idUser]="currentUser._id"
  class="height-100"
  >
  </app-internal-chat>
</div>




