@import '../../../../assets/scss/settings/colors';
.content-chat{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.title-header{
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon-return {
    color: $blue;
  }
  
  h1 {
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-left: 10px;
    font-weight: 700;
  }
}

.fixed-block{
  background-color: $white;
}

.container-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}