
.fixed-block.show{
  background-color: var(--bs-body-bg);
  opacity: initial;
}

.modal-optionsw{

  .modal-dialog{
    margin: 0;
    padding: 1rem;
  }

  .modal-content{
    border: none;
    border-radius: 0;
  }
}
