

*, *:before, *:after{
  box-sizing: border-box;
}

span,
a,
h1,
p {
  color: rgb(255, 255, 255);
}

html, body {
  background-color: $primary_color;
  height: -webkit-fill-available;
}

.height-100{
  height: 100%;
}


.fluid-container {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.vertical {
  height: calc(100% - var(--vertical-height));
  width: 10%;

  @media (max-width: 992px) {
    width: 100%;
  }
}

.vertical-full {
  width: 90%;
  flex-grow: 1;
  background-color: $second_color;
  @media (max-width: 992px) {
    width: 100%;
  }


  padding: 1rem 0;
}
