<div class="chat-component">
  <div class="list-message">  
    <div *ngFor="let item of listChatsItems"
      class="item-message"
      [class]="item.user._id == idUser ? 'send' : 'received'"
    >
      <div class="text-content">{{item.message}}</div>
    </div>
  </div>
  <div class="text-area-message">
    

    <form class="message-form">
      <input 
      type="text" 
      [(ngModel)]="messageInput" 
      (keyup.enter)="sendMessage(messageInput)"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Your message"
      >
      <i class="bi bi-send-fill"></i>
    </form>
  </div>
</div>
