<div class="chat-component">
  <div class="scroolitemcontainer">  
    <div class="list-message" #nombreDelContenedor>
      <div 
      *ngFor="let item of listChatsItems"
      >
        <div class="date-chat">
          <span>
            <ng-container *ngIf="(item._id | date) == (today | date); else thenBlock1">
              Hoy
            </ng-container>
            <ng-template #thenBlock1>
              <ng-container *ngIf="(item._id | date) == (yesterday | date); else thenBlock2">Ayer</ng-container>
            </ng-template>
            <ng-template #thenBlock2>{{item._id | date}}</ng-template>
          </span>
        </div>
        <div 
        *ngFor="let msn of item.messages"
        class="item-message"
        [class]="msn.user == idUser ? 'send' : 'received'"
        >
          <div class="text-content">
            <span>{{msn.message}}</span>
            <div *ngIf="msn.file" class="img-content"><img [src]="msn.file" [alt]="msn.message"></div>
            <div class="date-item"><span>{{msn.date | date : 'shortTime'}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-area-message">
    <form class="message-form">
      <div class="container-message">
        <div class="text-message">
          <input 
          type="text" 
          [(ngModel)]="messageInput" 
          (keyup.enter)="sendMessage(messageInput)"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Your message"
          >
          <mat-icon class="icon-send" color="accent" (click)="sendMessage(messageInput)">send</mat-icon>
        </div>
        <input type="file" [hidden]="true" #fileInput ngf ngf-keep (change)="uploadFile($event)">
        <mat-icon class="icon-file" (click)="openManagerFile()">photo_library</mat-icon>
      </div>
    </form>
  </div>
</div>
