.page-login{
  height: 100svh;
}

.block-title{
  margin: auto;
  text-align: center;

  h1 {
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
  }
}

.container-title-return {

  .blue-icon{
    color: #377DFF;
    margin-right: 5px;
  }
  

  .return{
    display: flex;
    align-items: center;
    color: #377DFF;
    text-decoration: none;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;

  .google{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

label{
  display: none;
}

.btn-block{
  display: block;
  width: 100%;
}
