@import '../../../../assets/scss/settings/colors';
.list-group{
  border-radius: inherit;
  .list-group-item{
    border: none;
    background-color: transparent;
    border-radius: 1ch;
    margin-bottom: 0;
    padding: 10px 0;
    border-bottom: 1px solid $gray;

    &:last-child {
      border-bottom: none;
    }
  }

  .container-block{
    display: flex;
    align-items: center;

    img {
      border-radius: 25px;
      display: block;
    }

    .text-user{
      margin-left: 5px;
    }

    .icon-send{
      margin-left: auto;
    }
  }
}