<div class="container-fluid p-0">
  <div class="row">
    <div class="col p-0">
      <div class="content">
        <div class="container-fluid height-100">
          <div class="row height-100">
            <div class="col-3">
              <app-list-chats></app-list-chats>
            </div>
            <div class="col-9 d-flex flex-column">
              <h1>Carlos</h1>
              <app-internal-chat class="mt-auto"></app-internal-chat>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>