<!-- <div class="fluid-container d-flex">
  <div class="vertical">
    <app-nav-bar [listItems]="navItems" (itemSelect)="loadComponent($event)"></app-nav-bar>
  </div>
  <div class="vertical-full">
    <div *ngIf="!selectedComponent.id" class="height-100">
      <app-chats class="height-100"></app-chats>
    </div>
    <div [ngSwitch]="selectedComponent.id">
      <app-chats *ngSwitchCase="'chats'"></app-chats>
      <app-new-chat *ngSwitchCase="'new-chat'"></app-new-chat>
    </div>
  </div>
</div> -->
<div class="fluid-container">
  <div class="main-content">

      <app-chats *ngIf="!selectedComponent.id" class="height-100 d-block"></app-chats>
  </div>
</div>

